langchain
groq
PyMuPDF
python-docx
Flask
langchain
llama-parse
qdrant-client
unstructured[pdf]
langchain_groq
langchain_core
fastembed
flashrank
langchain_community
streamlit
langchain_experimental
langchain_qdrant
pytesseract
sentence-transformers
torch
Pillow
qdrant-client>=1.7.0
python-dotenv
pypdfium2