@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}
#root{
  min-height: 100vh;
  display: flex;
}

#root {
  min-height: 100vh;
}

.full-height {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none; /* Class to hide content when needed */
}
